.bannerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameBanner {
    width: 100%;
    display: block;
    /*border-radius: 8px;*/
    background: url("../../assets/bannerPlaceholder.svg") center/cover no-repeat;
    aspect-ratio: 3;
    object-fit: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent -50%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, transparent 150%);
    transition: opacity 0.5s ease-in-out;


}

.gameBannerBack {
    position: absolute;
    width: 100%;
    display: block;
    border-radius: 8px;
    background: url("../../assets/bannerPlaceholder.svg") center/cover no-repeat;
    aspect-ratio: 3;
    object-fit: stretch;
    z-index: 0;
    filter: blur(40px) brightness(35%);
    top: 0;
    left: 0;
    overflow: hidden;
}

.bannerIcon {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.gameIcon {*/
/*    position: absolute;*/
/*    bottom: -40px;
/*    left: 50%;*/
/*    transform: translateX(-50%);
/*    aspect-ratio: 1;*/
/*    width: 25%;
/*    height: auto;*/
/*    border-radius: 25px;*/
/*    z-index: 10;*/
/*    padding: 8px;
/*    box-shadow: 0px 4px 10px rgba(0, 0, 0, .4);
/*    backdrop-filter: blur(10px);*/
/*}*/

.gameIcon {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1;
    width: 25%;
    height: auto;
    border-radius: 25px;
    z-index: 10;
    padding: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    display: none;
}

.gameBackground {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    filter: blur(100px) brightness(10%);
    z-index: -1;

}



.bottomGame {
    display: flex;
    flex-direction: column;
    background-color: rgba(60, 60, 73, 0);
    border-radius: 8px;
    height: 1000px;
    z-index: 50;
    padding: 2rem;
    margin-top: 10px;
}

@media (min-width: 1640px) {
.gameIcon {
    width: 320px;
}
}


@media (min-width: 1800px) {
    .gameBanner {
        height: 485px;
        width: 1620px;
        transition: opacity 0.5s ease-in-out;
        mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, transparent 100%);
    }

    .gameBannerBack {
        height: 485px;
    }
}

@media (max-width: 1209px) {
    .gameBanner {
        height: 300px;
        width: 1620px;
    }

    .gameIcon {
        width: 222px;
    }
}

